@layer reset, init, design;

@import url(./normalize.css) layer(reset);


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);

@layer init{
    :root{
        color-scheme: light dark;
        --header-bg-color: light-dark (#3B3E40, #3B3E40);
        --header-text-color: light-dark(#fff, #fff);
        --primary-color: light-dark (#66D4D4, #2b5a5a);
        --secondary-color: light-dark (#fff, #fff);
        --text-color: light-dark(#000, #fff);
        --bg-color: light-dark(#fff, #121212);
    }

    html{
        font-family: "Open Sans", sans-serif;
        font-size: 100%;
        color: var(--text-color);
    }
}

@layer design {
    
    body{
        background-color: var(--bg-color);
    }

    h1 {
        font-size: 4rem;
        font-weight: extra-bold;
    }

    
    .header{
        background-image: url(../images/header-2560w.webp);
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1,5;
        padding: 1em;
        
    }
    
    .header__nav{
        text-align: center;
    }
    .header__link{
        
        
    }
    .header__intro {
        margin-top: 10vh;
    }
    .button{
        display: inline-block;
        border-radius: .5rem;
        padding: .75em, 2em;
        
    }
    .button--light{
        background-color: var(--secondary-color);
        color: var(--text-color);
        
    }
}